.archivePage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-area: content;
    column-gap: 15px;
    padding: 15px;
    border-radius: var(--border-radius);
    overflow: hidden;
    background: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
}
